<link href="https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Righteous&display=swap" rel="stylesheet">
<% if user_signed_in? %>
  <%= render "shared/header" %>
  <div class="container text-center">
    <div class="row">
      <div class="col-4">
        <%= render "form_join_room" %>
        <%= render "shared/sidebar" %>
      </div>
      <div class="col">
        <%= render "public_rooms" %>
      </div>
    </div>
  </div>

<% end %>
