<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <div class="text-end">
        <%= button_to "Create Room", new_room_path, method: :get, class: "btn btn-outline-light me-2" %>
      </div>
      <div class="text-end">
      </div>
      <div class="dropdown text-end">
        <a class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag current_user.gavatar, size: "32x32", class: "rounded-circle" %>
        </a>
        <ul class="dropdown-menu text-small" style="">
          <a class="dropdown-item"><%= current_user.email %></a>
          <li><a class="dropdown-item" href="#">Transactions</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
